:root {
    --nav-color: #3D3431;
    --nav-hover-color: #a78680;
    --main-text-color: #B5A49F;
    --title-color: #E5D6CD;
    --title-color-second: #E4E3E3;
    --title-color-third: #E5D6CD;
    --text-color: #E5DAD4; 
    --container-color: #665B58; 
    --container-color-second: #BAAA9E;
    --container-color-third: #A79C93; 
    --button-color: #2e2623; 
}

.content {
    max-width: 2000px;
    margin: 0 auto;
    padding: 100px 20px;
}

.codex-section {
    margin-bottom: 80px; 
    background-color: var(--container-color);
    padding: 40px 180px;
}

.section-title {
    text-align: center;
    color: rgba(192, 181, 174, 0.8);
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 40px;
    padding: 20px 0;
    font-family: "Manuale", serif;
    font-weight: 800; 
    position: relative; 
}

.codex-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 50px;
    margin-bottom: 40px;
}

.codex-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    aspect-ratio: 14 / 11;
    transition: all 0.3s ease;
    min-height: 250px;
    min-width: 300px;
    box-shadow: 8px 6px 9px 0 rgba(0, 0, 0, 0.18);
}

.codex-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.codex-card:hover img {
    transform: scale(1.05);
    opacity: 0.7;
}

.codex-card h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(233, 226, 221, 0.9);
    padding: 30px 20px 20px;
    margin: 0;
    font-size: 2.6rem;
    letter-spacing: 2px;
    font-family: "Manuale", serif;
    text-align: center;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    text-shadow: 2px 4px 6px rgba(19, 18, 18, 0.7);
}

.codex-card:hover h2 {
    opacity: 0;
}

.codex-card p {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    margin: 0;
    padding: 0 30px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 90%;
    color: rgba(233, 226, 221, 0.8);
    text-shadow: 2px 4px 6px rgba(19, 18, 18, 0.7);
}

.codex-card:hover p {
    opacity: 1;
}