:root {
    --nav-color: #3D3431;
    --nav-hover-color: #6b5a57;
    --main-text-color: #B5A49F;
    --title-color: #E5D6CD;
    --title-color-second: #E4E3E3;
    --title-color-third: #E5D6CD;
    --text-color: #E5DAD4; 
}