:root {
    --nav-color: #3D3431;
    --nav-hover-color: #a78680;
    --main-text-color: #B5A49F;
    --title-color: #E5D6CD;
    --title-color-second: #E4E3E3;
    --title-color-third: #E5D6CD;
    --text-color: #E5DAD4; 
    --container-color: #665B58; 
    --container-color-second: #BAAA9E;
    --container-color-third: #A79C93; 
    --button-color: #2e2623; 
}

.recent-articles {
    margin-top: 150px;
    padding: 40px 0 80px 0;
    background-color: var(--container-color);      
}

.article-carousel {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    background-color: rgba(184, 167, 158, 0.2);
    padding: 20px 0;
}

.carousel-btn {
    background: none;
    border: none;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-320%);
}

.carousel-btn:first-of-type {
    left: 0;
}

.carousel-btn:last-of-type {
    right: 0;
}

.article-card {
    display: flex; 
    gap: 30px;
    background-color: rgba(184, 167, 158, 0.4);
    max-width: 1800px;
    width: 1350px;
    border-radius: 40px;
}

.article-card img {
    width: 800px;
    height: 600px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 40px;
}