:root {
    --nav-color: #3D3431;
    --nav-hover-color: #a78680;
    --main-text-color: #B5A49F;
    --title-color: #E5D6CD;
    --title-color-second: #E4E3E3;
    --title-color-third: #E5D6CD;
    --text-color: #E5DAD4; 
    --container-color: #665B58; 
    --container-color-second: #BAAA9E;
    --container-color-third: #A79C93; 
    --button-color: #2e2623; 
}

.recent-articles {
    margin-top: 150px;
    padding: 40px 0 80px 0;
    background-color: var(--container-color);      
}

.article-carousel {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    background-color: rgba(184, 167, 158, 0.2);
    padding: 20px 0;
}

.carousel-btn {
    background: none;
    border: none;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-230%);
}

.carousel-btn:first-of-type {
    left: 260px;
}

.carousel-btn:last-of-type {
    right: 260px;
}

.article-card {
    display: flex; 
    gap: 30px;
    background-color: rgba(184, 167, 158, 0.315);
    max-width: 1800px;
    width: 1350px;
    border-radius: 40px;
}

.article-card img {
    width: 700px;
    height: 660px;
    object-fit: cover;
    object-position: 70% center;
    flex-shrink: 0;
    border-radius: 40px;
}

.article-content {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 30px;
}

.article-content h3 {
    color: rgba(184, 167, 158, 0.938);
    font-family: "Manuale", serif;
    font-size: 2.5em;
    margin-bottom: 20px;
    transform: translateY(150%);  
}

.article-content p {
    color: rgb;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.read-more {
    display: inline-flex;
    color: rgba(180, 157, 145, 0.938);
    text-decoration: none;
    background-color: rgba(65, 59, 56, 0.74);
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    transform: translateY(-80%);
    border-radius: 30px;
    font-size: 2rem;
    font-family: "Yesteryear", cursive;
}