.footer {
    background-color: rgba(116, 101, 94, 0.54);
    padding: 50px 0;
}

.footer-content {
    display: flex; 
    justify-content: space-evenly;
}

.footer-content h4 {
    color: rgba(192, 181, 174, 0.8);
    font-size: 1.9rem;
    margin-bottom: 2px;
    font-weight: 900;
    font-family: "Manuale", serif;
}

.footer-content ul {
    list-style: none;
    padding: 0 5px;
}

.footer-content ul li {
    margin-bottom: 5px;
}

.footer-content ul a {
    text-decoration: none;
    color: rgba(202, 188, 177, 0.959);
    display: inline-block;
    font-family: "Oldenburg", serif;
    font-size: clamp(0.7rem, 2vw, 0.9rem);
    position: relative; 
    transition: color 0.3s ease;
}

.footer-content ul a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(202, 188, 177, 0.6);
    transition: width 0.3s ease;
}

.footer-content ul a:hover::after {
    width: 100%;
}

.footer-copyright {
    text-align: center;
    color: rgba(206, 189, 180, 0.938);
    font-size: 0.9rem;
    margin-top: 20px;
    font-family: "Oldenburg", serif;
}