:root {
    --nav-color: #3D3431;
    --nav-hover-color: #a78680;
    --main-text-color: #B5A49F;
    --title-color: #E5D6CD;
    --title-color-second: #E4E3E3;
    --title-color-third: #E5D6CD;
    --text-color: #E5DAD4; 
    --container-color: #665B58; 
    --container-color-second: #BAAA9E;
    --container-color-third: #A79C93; 
    --button-color: #2e2623; 
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: #5a5250
}

.header {
    position: relative;
}

.header-top {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding:50px 60px;
    background-color: none;
    position: relative;
    z-index: 10;
}

.signin {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.signin-btn {
    background-color: rgba(117, 102, 97, 0.8);
    color: rgba(202, 182, 176, 0.8);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: "Manuale", serif;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 2.6px;
    transition: all 0.3s ease;
}

.signin-btn:hover {
    background-color: rgba(218, 156, 145, 0.8);
    color: rgba(77, 64, 61, 0.8);
}

.signup-btn {
    background-color: rgba(201, 183, 177, 0.8);
    color: rgba(77, 64, 61, 0.8);
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: "Manuale", serif;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 2.6px;
    transition: all 0.3s ease;
}
.signup-btn:hover {
    background-color: rgba(90, 61, 57, 0.9);
    color: rgba(202, 182, 176, 0.8);
}

/* Banner styles */ 
.hero-banner {
    width: 100%;
    height: 780px;
    position: absolute;
    top: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main navigation styles */
.main-nav {
    position: relative; 
    z-index: 10;
    margin-top: 600px;
    display: flex;
    justify-content: center;
    background-color: rgba(78, 67, 62);
    border-top: 6px solid rgba(78, 67, 62);
    border-bottom: 6px solid rgba(78, 67, 62);
}

.nav-item {
    text-align: center;
    padding: 15px 5%;
    font-family: "Manuale", serif;
    font-size: clamp(1rem, 2.5vw, 1.7rem);
    color: rgba(204, 185, 175, 0.6);
    text-decoration: none;
    font-weight: 800;
    border-right: 3px solid rgba(204, 185, 175, 0.11);
    letter-spacing: clamp(1px, 0.3vw, 2px);
    transition: all 0.3s ease;
    flex: 1 1 25%;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.nav-item:last-child {
    border-right: none;
}

.nav-item:hover {
    color: rgba(48, 44, 42, 0.8);
    background-color: rgba(138, 119, 113, 0.8);
}


